<%= turbo_stream.replace "resultFrame" do %>
  <%= turbo_frame_tag "resultFrame" do %> 
    <div id="image">
      <% if @response["status"] == 'success' %>
        <h1><%= params[:breed] %></h1>
        <img src="<%= @response["message"] %>" alt="Fetched Dog Image" class="img-fluid">
      <% else %>
        <p>Sorry the Breed does not exist.</p>
      <% end %>
    </div>  
  <% end %>
<%end%>